@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.App{
  padding-bottom: 50px;
  background-color: #F2F3F7;
  display: inline-block;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.App-header {
  background-image: linear-gradient(#7982FE, #BFE8FF);
  min-height: 200px;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px 20px 20px 20px;
}

.companyName{
  text-align: right;
  float: right;
}

.nav{
  background-color: transparent;
  float: left;
  width: 60%;
  border: none;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

h1 {
  width: 60%;
  float: right;
  font-size: 18px!important;
  text-transform: capitalize;
}

.item_card {
  width: 30%;
  margin: 3%;
  background-color: white;
  border-radius: 10%;
  padding: 1em;
}

.item_picture {
  width: 30%;
}

.itemHeader {
  margin-top: 20px;
  margin-bottom: 20px;
}

.itemBody {
  color: #A3A2AC;
  margin-bottom: 10px;
  padding-left: 1em;
}

div#dashboard_options {
  padding: 20px 0px;
    width: 15%;
    float: left;
    background-color: white;
    margin: 20px;
    border-radius: 10%;
    height: 400px;
    color: #A3A2AC;
}

#dashboard_options li {
  list-style-type: none;
  padding-bottom: 1em;
}

.cardItems {
  width: 81%;
  display: inline-flex;
  float: left;
}

.item_card .default {
  text-align: center;
  padding-left: 0!important;
  padding-top: 85px;
  padding-bottom: 85px;
}

.customizablePanel {
  margin-top: -4em;
}

.itemHeader h1 {
  font-weight: 900;
}

img.bubuLogo {
  width: 15%;
}

img.logoutIcon {
  width: 50%;
  padding-top: 20px;
}

img.addItem {
  width: 50%;
}

.itemSection img {
  width: 30%!important;
  float: left;
}

.itemSection {
  display: inline-block;
}

.itemSection p {
  padding-top: .75em;
}

.itemHeader h1 {
  padding-top: .55em;
}

input {
  width: 100%;
  border: none;
  padding: .5em;
  border-bottom: 1px solid grey;
  margin-left: 0px;
}

.item_card .form {
  padding-top: 2em;
  padding-left: 0!important;
}

.happyQuestion{
  text-align: center;
  margin-top: 1em;
}

button.confirmButton {
  background-color: #B9D2DA;
  border: none;
  color: white;
  border-radius: 10%;
  text-align: center;
  margin: 0 auto!important;
  width: 100%;
}

textarea:focus, input:focus{
  outline: none;
}

.emojiList button {
  width: 35%!important;
  padding: 0;
  border: none;
  margin: 0;
  border-radius: 40%;
}

.emojiList {
  display: flex;
  margin-bottom: 1em;
}

button {
  outline: none!important;
}

.test{
  border: 1px solid #000;
}

.purchasesTab {
  margin-top: 20px;
  width: 81%;
  display: inline-flex;
  float: left;
  background-color: #fff;
  border-radius: 10px;
  padding: 1em;
}

th.data {
  color: #A3A2AC;
  padding-right: 15.5em;
  font-weight: 100;
}

button.addData {
  color: #fff;
  border-radius: 10px;
  border: none;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #51D9FF;
}